<div class="outer">
    <div class="image">
        <img src={{coverImageUrl}}>
        <p class="diff" id={{diffId}}>{{diffString}}</p>
    </div>
    <div class="inner">
        <p class="artist">{{songAuthor}}</p>
        <p class="song">{{songName}} <span class="subName">{{songSubName}}</span></p>
        <p class="mapper">{{mapper}}</p>
        <div class="bottom">
            <p><mat-icon class="icon">music_note</mat-icon> {{bpm}}</p>
            
            <p><mat-icon class="icon">speed</mat-icon> {{nps}}</p>
            <p><mat-icon class="icon">timer</mat-icon> {{duration}}</p>
            <p class="bsr"><mat-icon class="icon">vpn_key</mat-icon> {{bsrKey}}</p>
        </div>
    </div>
</div>


