<div class="outer" id="{{mapData.picktype}}">
    <div class="inner">
        <img [src]="mapData.coverImageUrl" class="cover">
        <div class="map-info">
            <p class="artist">{{mapData.songAuthor}}</p>
            <p class="song">{{mapData.songName}}<span class="sub-name"> {{mapData.songSubName}}</span></p>
            <p class="mapper"><span class="bracket">[</span>{{mapData.mapper}}<span class="bracket">]</span></p>
        </div>
        <div class="map-stats">
            <!--<p class="diff" id="{{mapData.diffId}}">{{mapData.diffString}}</p>-->
            <p *ngIf="mapData.category" class="map-type" id="{{mapData.category}}">{{mapData.category}}</p>
            <div class="bsr">
                <p class="number"><mat-icon class="icon">vpn_key</mat-icon> {{mapData.bsrKey}}</p> <!--{{mapData.bsrKey}}-->
            </div>
            <!--<div class="stat">
                <mat-icon class="icon">music_note</mat-icon>
                <p class="number">{{mapData.bpm}}</p>
            </div>
            <div class="stat">
                <p><mat-icon class="icon">speed</mat-icon></p>
                <p class="number">{{mapData.nps}}</p>
            </div> -->
        </div>
    </div>
    <img [src]="mapData.coverImageUrl" class="background-image">
    <!--<p class="picker" id="{{mapData.picktype}}">
        <mat-icon *ngIf="mapData.picker && mapData.picktype === 'ban'" class="icon">block</mat-icon>
        <mat-icon *ngIf="mapData.picker && mapData.picktype === 'pick'" class="icon">done</mat-icon>
        {{mapData.picker}}</p> -->
    <div class="avatar">
        <img class="avatar-image" *ngIf="mapData.picker" [src]="mapData.playerImageUrl" id="{{mapData.picktype}}">
        <p class="map-order" *ngIf="mapData.picker" id="{{mapData.picktype}}">{{mapData.order}}</p>
    </div>
    <p class="winner" *ngIf="mapData.winner"><svg class="icon" *ngIf="mapData.winner" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="#ffffff" d="M5 16L3 5l5.5 5L12 4l3.5 6L21 5l-2 11zm14 3c0 .6-.4 1-1 1H6c-.6 0-1-.4-1-1v-1h14z"/></svg> {{mapData.winner}}</p>
</div>