p {
  margin: 0;
}

.outer {
  position: relative;
  color: aliceblue;
  width: 500px;
  height: 100px;
  border-radius: 10px;
  background-color: black;
  border: 3px solid hsla(0, 0%, 100%, 0.8);
  padding: 15px;
  z-index: 20;
  font-size: 18px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  z-index: -1;
}

.inner {
  display: grid;
  grid-template-columns: 120px 1fr 100px;
  height: 100%;
  align-items: center;
}

.cover {
  height: 100%;
  border-radius: 10px;
  border: 2px solid hsla(0, 0%, 100%, 0.8);
  overflow: hidden;
}

.map-info {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 0px;
  font-size: 21px;
  overflow: hidden;
}

.map-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 3px;
}

.song {
  margin-top: -6px;
  font-size: 31px;
}

.sub-name {
  font-size: 21px;
}

.map-stats {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  overflow: hidden;
  justify-self: end;
  align-self: center;
}

.bsr {
  justify-content: end;
  text-align: end;
  letter-spacing: 1px;
}

.map-type {
  border-radius: 10px;
  padding: 5px 7px;
  letter-spacing: 1px;
  font-weight: bolder;
  text-shadow: 0px 0px 20px black;
  color: #000;
  justify-self: end;
  align-self: end;
}

.icon {
  vertical-align: -3px;
  font-size: 20px;
}

#ban {
  border: 3px solid rgba(255, 0, 0, 0.9);
}

#pick {
  border: 3px solid rgba(0, 255, 13, 0.8);
}

.winner {
  position: absolute;
  left: 50%;
  top: 131px;
  padding: 1px 10px 4px 7px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  font-size: 16px;
  color: white;
  border: 3px solid rgba(255, 255, 255, 0.8);
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.avatar-image {
  width: 100%;
  border-radius: 50%;
}

.map-order {
  position: absolute;
  text-align: center;
  width: 22px;
  padding: 2px 0;
  bottom: -8px;
  left: -5px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  font-size: 20px;
  font-weight: bolder;
  border-radius: 8px;
}

.bracket {
  font-size: 22px;
  padding: 0px 1px;
}

#Accuracy {
  background-color: #53ff50;
}

#MidSpeed {
  background-color: #ffd642;
}

#Speed {
  background-color: #ff585b;
}

#Tech {
  background-color: #f586ff;
}

#Classic {
  background-color: #58e0ff;
}

/*
.diff {
  border-radius: 10px;
  padding: 3px 7px;
  margin-bottom: 1px;
  text-shadow: 0px 0px 5px #000;
  justify-self: end;
  align-self: end;
}

#Expert {
  background-color: #bf2a42;
}

.picker {
  position: absolute;
  left: 50%;
  top: -3px;
  padding: 1px 5px 5px 5px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  font-size: 16px;
  color: white;
  border: 3px solid red;

#Easy {
  background-color: #3cb371;
}

#Normal {
  background-color: #59b0f4;
}

#Hard {
  background-color: #ff6347;
}



#ExpertPlus {
  background-color: #8f48db;
}*/

