.outer{
    position: absolute;
    right: 980px;
    bottom: 30px;
}

p {
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px, rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px, rgb(0, 0, 0) 0px 0 8px, rgb(0, 0, 0) 0px 0 8px, rgb(0, 0, 0) 0px 0 8px,
    rgb(0, 0, 0) 0px 0 15px, rgb(0, 0, 0) 0px 0 15px, rgb(0, 0, 0) 0px 0 15px, rgb(0, 0, 0) 0px 0 15px, rgb(0, 0, 0) 0px 0 15px, rgb(0, 0, 0) 0px 0 15px, rgb(0, 0, 0) 0px 0 15px, rgb(0, 0, 0) 0px 0 15px;
    text-align: end;
    margin: 0;
}

.acc{
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

.score{
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

.comboAndMiss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 200px;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.missicon {
    color: red;
    font-weight: 700;
    font-family: sans-serif;
    font-stretch: ultra-expanded;
    text-shadow: rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px, rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px, rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px,rgb(0, 0, 0) 0px 0 8px;
}

.redFlash {
    position: absolute;
    width: 949px;
    height: 731px;
    top: 174px;
    left: 6px;
    animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes flash {
    0% {
        box-shadow: inset 0px 0px 50px red;
        }
    80% {
        box-shadow: inset 0px 0px 50px red;
    }
  }